.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1rem;
   &__right{
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .MuiSvgIcon-root{
      margin-right: 1rem;
   }

}
